.error-card{
    position: absolute;
    top: 80px;

    background-color: #D90429;
    color: #FFFFFF;

    width: 400px;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    padding-top: 20px;
    padding-bottom: 20px; 

    border-radius: 10px;

    border: 1px solid #C30425;

    transition: background-color 25ms ease-in;
}

.error-card:hover{
    background-color: #C30425;
    border: 1px solid #AE0321;
}

.login-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;

    width: 100vw;
    height: 100vh;
}

.login-container-main-area{
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.login-card{
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: 400px;
    height: 330px;

    border: 1px solid #E0E0E0;
    border-radius: 10px;

    padding: 9px;
}

.login-form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.login-card-creds-section{
    display: flex;
    flex-direction: column;
}

.login-card-submit-button{
    justify-self: flex-end;
    border: none;

    background-color: #D81159;

    font-size: 1.125rem;
    font-weight: 600;

    color: #FFFFFF;
    padding: 10px;

    border-radius: 10px;

    transition: background-color 25ms ease-in;
}

.login-card-submit-button:hover{
    cursor: pointer;
    background-color: #C20F50;
}

#login-card-username-field, #login-card-password-field{
    height: 44px;
    border: 1px solid #E0E0E0;

    border-radius: 10px;

    padding-left: 1rem;

    font-size: 1rem;
}

.login-card-username-label{
    margin-top: 30px;
}

.login-card-username-label, .login-card-password-label{
    margin-bottom: 8px;
}

#login-card-username-field{
    margin-bottom: 30px;
}

#login-card-username-field:focus, #login-card-password-field:focus{
    outline: none;
    background-color: #EBEBEB;
    border: 1px solid #BDBDBD;
}

.login-header{
    font-size: 1.5rem;
    font-weight: 600;

    margin-bottom: 70px;
}

.login-bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 70px;
}

.register-redirect{
    color: #D81159;
    text-decoration: none;
    margin-top: 10px;
}

.register-redirect:hover{
    color: #C20F50;
    text-decoration: underline;
}

.register-redirect:active{
    color: #DC296A;
}